page-create {

ion-item-divider[style]{
    //$item-ios-divider-background:#f7f7f7;
    //$item-md-divider-background: red !important;
    //$item-md-divider-color: red !important;
    font-size: 20px;
    font-weight: bold;
}
    
   
.content-md {
    background-color: #f7f7f7 !important;
}

.content-ios{
    background-color: #f7f7f7 !important;
}

ion-content.content-md[padding] .scroll-content {
    padding: 0px !important;
    padding-top: 20px !important;
}
ion-content.content-ios[padding] .scroll-content {
    padding: 0px !important;
    padding-top: 20px !important;
}
// ion-item{
//     width: 110% !important;
//     $item-ios-paragraph-margin-start: 30px;
    
// }

// ion-list{
//     width: 110% !important;
//     padding-left: -10px;
    
// }

.item-inner ion-label {
    white-space: normal;
}
  

}
